.text-search-dropDown {
  width: 50%;
  position: relative;
  > input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.2em;
    font-size: 1em;
  }
  .searched-dropDown {
    padding: 0.5em;
    border: 1px solid #ccc;
    z-index: 10;
    background-color: white;
    position: absolute;
    width: 100%;
    margin-top: -3px;
    border-radius: 0 0 8px 8px;

    cursor: pointer;
    height: 13em;
    overflow: auto;
    .serached-item {
      display: flex;
      align-items: center;
    }
    .searched-image {
      width: 5em;

      height: 5em;
      border-radius: 100%;
      overflow: hidden;
      > img {
        width: 100%;
        height: 100%;
      }
    }
    .searched-text {
      display: flex;
      flex-flow: column;
      padding: 5px;
      justify-content: center;
      .searched-title {
        font-size: 0.8em;
      }
      .searched-description {
        font-size: 0.6em;
        color: #97a9b2;
      }
    }
  }
}
