.us-ul-li {
  > li {
    display: flex;
    margin: 10px;
    label {
      font-weight: bold;
      white-space: nowrap;
    }
    span {
      margin: 0 10px;
    }
    > a {
      margin: 0 10px;
      width: 20px;
      cursor: pointer;
      display: block;
      > img {
        width: 100%;
      }
    }
  }
}
