.show-courses-container {
	.show-courses {
		margin-top: 15px;
	}
}
.courses-title {
	padding: 10px 0;
	font-size: 25px;
	border-bottom: 1px solid var(--redColor);
	display: flex;
	span {
		padding: 5px 10px;
		font-weight: 600;
	}
	.add-new-Course {
		margin-right: auto;
	}
}
