.us-container {
  > header {
    height: 250px;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
  }
  > .main-wrapper {
    padding: 20px;
  }
}
.web-type-wrapper {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  margin-top: -65px;
}

.us-wrapper {
  border-radius: 10px;
  padding: 15px;
  background-color: #eee;
  font-size: 14px;
  line-height: 26px;
  padding: 50px;
  min-height: 200px;
  h1 {
    margin-top: 0;
    font-size: 19px;
  }
  p {
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  .content {
    padding: 30px;
  }
  .us-wrapper {
    padding: 15px;
  }
}
