/* #subjectModal {
  z-index: 30;
}
#subjectModal.fadeIn {
  -webkit-animation: scale-fadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-fadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#subjectModal.fadeOut {
  -webkit-animation: scale-fadeOut 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-fadeOut 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.btn-submited-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: unset !important;
}

.subjectModal-box {
  width: 30em;
  background: white;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 0.3em 1em;
  margin: auto;
}
.subjectModal-box > div {
  margin: 0 0.5em 2em 0.5em;
}
.subjectModal-AddInformation {
}
.subjectModal-AddInformation {
  line-height: normal;
}
.subjectModal-AddInformation > label {
  margin: 1em 0 0.4em;
  font-size: 1.3em;
  font-weight: bold;
  display: block;
  text-align: start;
}
.subjectModal-AddInformation > input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
  background-color: #eee;
  text-align: center;
}
.subjectModal-AddInformation > .btn-submited-container {
  margin-top: 20px;
}
.addFileModalContainer {
  position: relative;
  display: flex;
  border: 1px solid #929292;
  border-radius: 5px;
  height: 2.5em;
  align-items: center;
}
.addFileModalContainer > div {
  width: 100%;
  white-space: nowrap;
  padding: 0.5em;
  overflow: hidden;
  /* text-overflow: ellipsis; */
/* height: 42px;
  overflow: hidden;
} */
/* .addFileModalContainer > label > span {
  background-color: #003265;

  display: flex;

  border-radius: 10px;

  text-align: center;

  height: 100%;

  justify-content: center;

  line-height: normal;
  align-items: center;
  font-size: 0.9em;
}
.addFileModalContainer > label {
  top: 0;
  left: 0;
  padding: 0.5em 0.2em;
  width: 7em;

  color: white;
  text-align: center;
  cursor: pointer;
  /* width: 51px; */
/* height: 3em;
  cursor: pointer;
}
.addFileModalContainer > label > input {
  visibility: hidden;
} */
/* 
.submitedBtn button {
  width: 8em;
  background-color: #208000;
  color: white;
  border-radius: 10px;
  border: 1px solid;
  padding: 0.7em;
  box-shadow: 1px 1px 5px 0px green;
  text-align: center;
}
.submitedBtn button:hover {
  box-shadow: 1px 1px 9px 0px green;
}
.submitedBtn.closed button {
  background-color: white;
  color: black;
  border: unset;
  box-shadow: 1px 1px 5px 0 #636363;
}
.submitedBtn.closed button:hover {
  box-shadow: 1px 1px 15px 0 #636363;
} */

/* @-webkit-keyframes scale-fadeIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-fadeIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes scale-fadeOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes scale-fadeOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
} */
