.main-wrapper {
  background: url("../../../assets/images/img/backgroundWeb.png");
  background-repeat: repeat;
  background-position: 0 0;

  padding-top: 200px;
  padding-bottom: 150px;
}
@media (max-width: 999px) {
  .main-wrapper {
    padding-top: 50px;
  }
}
