#LoginModal {
  position: fixed;
  z-index: 30;
}

.modal_container {
  display: flex;
  flex-direction: column;
  width: 303px !important;
  left: -89% !important;
  z-index: 10 !important;
}

#LoginModal.fadeIn {
  -webkit-animation: scale-fadeIn0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-fadeIn0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.modal_container-box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
}

@-webkit-keyframes scale-fadein {
  0% {
    -webkit-transform: translateY(-150vh);
    transform: translateY(-150vh);
  }
  100% {
    -webkit-transform: translateY(30vh);
    transform: translateY(30vh);
  }
}

@keyframes scale-fadein {
  0% {
    -webkit-transform: translateY(-150vh);
    transform: translateY(-150vh);
  }
  100% {
    -webkit-transform: translateY(20vh);
    transform: translateY(20vh);
  }
}

@-webkit-keyframes scale-fadeout {
  0% {
    -webkit-transform: translateY(20vh);
    transform: translateY(20vh);
  }
  100% {
    -webkit-transform: translateY(-150vh);
    transform: translateY(-150vh);
  }
}

@keyframes scale-fadeout {
  0% {
    -webkit-transform: translateY(20vh);
    transform: translateY(20vh);
  }
  100% {
    -webkit-transform: translateY(-150vh);
    transform: translateY(-150vh);
  }
}

.Login-box {
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 30px 20px;
  margin: auto;
}

.Login-box > span {
  color: #fff;
  text-align: center;
}

.Description-for-customer.web-e-login {
  font-size: 20px;
}

.RSLEditeMobileNumber.web-e-login {
  font-size: 13px;
}

.mobileAndTokenError.web-e-login {
  font-size: 16px;
  width: 88%;
  text-align: center;
}
