.table th,
.table td {
  vertical-align: middle;
  height: 100%;
  text-align: center;
}
.table-wrapper {
  > span {
    font-size: 1em;
    margin: 0 0.3em;
    > i {
      cursor: pointer;
      &.icon-edit-alt {
        &:hover {
          color: var(--warningColorHover);
        }
      }
      &.icon-cancel-circled {
        font-size: 1.3em;
        &:hover {
          color: var(--dangerColorHover);
        }
      }
    }
  }
}
