.scroll-wrapper {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px #000 solid;
  position: relative;
  width: 100%;
  height: 100%;
}

#scroll-container {
  height: 100%;
  // margin-top: 5px;
  overflow: auto;
  position: relative;
}

.ssb_down {
  background-color: #090909;
  bottom: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
  border-radius: 10px;
}

.ssb_sb {
  background-color: #090909;
  cursor: pointer;
  position: absolute;
  left: 0;
  border-radius: 10px;
  transition: all 0.1s linear;
}

.ssb_sb_down {
  background-color: #3b3b3b;
}

.ssb_sb_over {
  background-color: #424242;
}

.ssb_st {
  background-color: #dedede;
  cursor: pointer;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.ssb_up {
  background-color: #272727;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 10px;
}

.parent {
  font-family: verdana;
  height: 100%;
  padding: 10px;
  position: relative;
}
