.panel-navbar-profile:hover {
  // color: black;
}
.profile-modal-container {
  position: absolute;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 0;
  width: 14em;
  text-transform: uppercase;
  -webkit-box-shadow: 0 7px 23px 0 rgba(0, 0, 0, 0.1), 0 13px 49px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 7px 23px 0 rgba(0, 0, 0, 0.1), 0 13px 49px 0 rgba(0, 0, 0, 0.06);
  top: 120%;
  -webkit-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  left: 1em;
  background-color: white;

  > li {
    text-align: start;
    margin: 0;
    padding: 0.5em;
    -webkit-transition: color 0.225s ease-in-out, background-color 0.225s ease-in-out;
    -o-transition: color 0.225s ease-in-out, background-color 0.225s ease-in-out;
    transition: color 0.225s ease-in-out, background-color 0.225s ease-in-out;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;

    a {
      color: #97a9b2;
    }
    i {
      margin: 5px;
    }
    &:hover * {
      color: black;
      // background-color: rgba(0, 0, 0, 0.5);
      // color: white;
    }
    span {
      margin-right: auto;
    }
  }
}
.profile-modal-container.actived {
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.profile-modal-container.deActive {
  padding: unset;
  // height: 0;
  overflow: hidden;
  -webkit-animation: scale-down-ver-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-down-ver-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
