.mobile-app {
  display: block;
  width: 368px;
  height: 678px;
  background-image: url("../../assets/images/img/bg-slider.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  .mobile-screen-container {
    height: 100%;
    padding: 99px 44px 77px 37px;
    > .mobile-screen {
      background-color: #404040;
      height: 100%;
    }
  }
}
