.footer-wrapper {
  padding-top: 20px;
  // background: linear-gradient(45deg, #1488b9 0%, #0b0b61 100%);
  color: white;
  font-size: 16px;
  line-height: normal;
  > * {
    font-size: 1em;
  }
  .footer-wrapper-top {
    border-bottom: 2px solid #49b8cc;
    padding-bottom: 20px;
    margin-bottom: 45px;
  }
  .footer-wrapper-content {
    display: flex;
    padding: 2em 0px;
  }
  .footer-unit {
    flex: 1;
    line-height: normal;
    &.sendNews-email {
      .news-title {
      }
      .input-label-box {
        margin: 20px 0;
        height: 40px;
        display: flex;
        color: white;
        > input {
          background-color: rgba(255, 255, 255, 0.83);
          border-color: black;
          border-radius: 0 5px 5px 0;
          padding: 0 10px;
          color: white;
          border: 1px solid transparent;
          font-size: 0.8em;
          width: 75%;
        }
        > .label-btn {
        }
        .btn-container {
          height: 100%;
          > button {
            height: 100%;
            border: 1px solid transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            color: white;
            background-color: #1480b5;
            border-color: #1480b5;
            border-radius: 5px 0 0 5px;
            opacity: 0.7;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
      .news-title-caption {
        font-size: 0.8em;
      }
    }
    &.about {
      display: flex;
      justify-content: space-evenly;
      > div {
        .about-subtitle {
          font-size: 1.5em;
        }
        > ul {
          margin-top: 13px;
          font-size: 0.8em;
          cursor: pointer;
          li {
            margin: 17px 0;
            list-style: inside;
            a {
              color: white;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}
.copyright-wrapper {
  background: #1480ab;

  height: 45px;
  background: linear-gradient(45deg, #1488b9 0%, #0b0b61 128%);
  background: -moz-linear-gradient(45deg, #1488b9 0%, #0b0b61 128%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #1488b9), color-stop(128%, #0b0b61));
  background: -webkit-linear-gradient(45deg, #1488b9 0%, #0b0b61 128%);
  background: -o-linear-gradient(45deg, #1488b9 0%, #0b0b61 128%);
  background: -ms-linear-gradient(45deg, #1488b9 0%, #0b0b61 128%);
  background: linear-gradient(45deg, #1488b9 0%, #0b0b61 128%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1488b9 ', endColorstr='#0b0b61', GradientType=1);
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  .copyright-text {
    text-align: end;
    font-size: 12px;
  }
}
@media (max-width: 680px) {
  .footer-wrapper-content {
    flex-flow: column;
  }
  .footer-unit.about {
    margin-top: 30px;
  }
  .input-label-box > input {
    width: 100%;
  }
}
@media (max-width: 680px) {
  .web-container {
    .footer-wrapper-top {
    }
  }
}
@media (max-width: 680px) {
  .footer-wrapper {
    font-size: 12px;
  }
}
