@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.hamburgerLine-container {
  height: 32px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  .hamburger-line {
    height: 2px;
    width: 20px;
    background-color: white;
    transition: all 0.2s ease;
    &.lineTop {
      transform-origin: top left;
      margin-bottom: 5px;
    }
    &.lineMiddle {
      margin-bottom: 5px;
    }
    &.lineBottom {
      transform-origin: top left;
      margin-bottom: 5px;
    }
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}
