.form-countainer {
  padding: 10px;
  box-shadow: var(--boxShadowLow);
  border-radius: 8px;
  min-width: 50%;
  width: 50%;
  margin: auto;
  background-color: white;
}
.row-give-information {
  > div {
    padding: 10px;
    display: flex;

    justify-content: space-between;

    flex-direction: column;
    .dropdown {
      padding: 10px;

      border: 1px solid #9f9f9f;

      border-radius: 10px;
      text-align: center;
      color: black;
    }

    > label {
      margin: 0.2em;

      font-size: 1em;

      font-weight: 600;
    }
    > input {
      border: 1px solid #ccc;

      border-radius: 8px;
      padding: 0.2em 0.5em;
      &:focus {
        box-shadow: var(--boxShadowLow);
        border: 2px solid var(--blueLight);
      }
    }
    > * {
      margin: 5px;
    }
  }
}
