.SubmitPayment-wrapper {
  box-shadow: var(--boxShadowLow);
  padding: 1em 3em;
  font-size: 17px;
  > div {
    margin: 2em 0;
    white-space: nowrap;
    text-align: center;
    &:nth-child(1) {
      font-size: 1.4em;
      span {
        font-size: 1.5em;
        font-weight: bold;
        &.red {
          color: #ca6231;
        }
        &.green {
          color: rgb(3, 194, 50);
        }
      }
    }
  }
}
@media (max-width: 770px) {
  .SubmitPayment-wrapper {
    font-size: 12px;
  }
}
@media (max-width: 340px) {
  .SubmitPayment-wrapper {
    font-size: 10px;
  }
}
