.card-details-row.cover-image {
  &.width100 {
    width: 100%;
    margin: auto;
    margin-top: 3em;
    height: 220px;
    box-shadow: unset;
    position: relative;
    padding: unset;
  }
  .about-title {
    .positionUnset {
      position: relative;
      color: black;
    }
  }
  .images-wrapper {
    > div {
      width: 10em;
      height: 10em;
      position: relative;
      margin: 0 1em;
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
      i {
        position: absolute;
        left: 3px;
        color: antiquewhite;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }

  &:hover i {
    font-size: 23px;
  }
}
